<table>
  <%= @fizzbuzz.each do |i, x| %>
    <tr>
      <td><%= i %></td>
      <td><%= x %></td>
      <td>
        <% if @favourites.include?(i) %>
          <strong>Favourite</strong>
        <% else %>
          <%= link_to 'Favourite', root_path(index: i, offset: @offset, per_page: @window) %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'Prev Page', root_path(offset: (@offset - @window), per_page: @window) %>
<%= link_to 'Next Page', root_path(offset: (@offset + @window), per_page: @window) %>
| Window:
<%= link_to '10',   root_path(offset: @offset, per_page: 10) %>
<%= link_to '100',  root_path(offset: @offset, per_page: 100) %>
<%= link_to '1000', root_path(offset: @offset, per_page: 1000) %>
